<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="logs/portal-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            archiveFileName="logs/portal-{#}.log"
            archiveNumbering="Rolling"
            archiveOldFilesOnStartup="true"
            maxArchiveFiles="30" />

    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate}|${level:uppercase=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
